In [1]:
import pandas as pd

In [2]:
fruit_sales = pd.DataFrame({"Apples": [35, 41],
                          "Bananas": [21, 34]},
                          index=["2017 Sales", "2018 Sales"])

In [22]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [11]:
fruit_sales.Apples # Accessing the Apples column (Series)

2017 Sales    35
2018 Sales    41
Name: Apples, dtype: int64

In [13]:
fruit_sales["Bananas"] # Accessing the Bananas column (Series)

2017 Sales    21
2018 Sales    34
Name: Bananas, dtype: int64

In [ ]:
print(type(fruit_sales["Apples"][0]))  # Future warning. Use fruit_sales["Apples"].iloc[0] instead

<class 'numpy.int64'>

C:\Users\TMP-214\AppData\Local\Temp\ipykernel_5768\3064138399.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(type(fruit_sales["Apples"][0]))

In [19]:
fruit_sales["Apples"].iloc[0]

np.int64(35)

In [ ]:
fruit_sales.iloc[0] # Accessing the first row (Series), columns become the index

Apples     35
Bananas    21
Name: 2017 Sales, dtype: int64

In [26]:
fruit_sales.loc["2017 Sales"] # Accessing the 2017 Sales row

Apples     35
Bananas    21
Name: 2017 Sales, dtype: int64

In [ ]:
fruit_sales.iloc[:, 0] # Accessing all rows of the first column (Series)

2017 Sales    35
2018 Sales    41
Name: Apples, dtype: int64